
<%- include("common/header") -%>
<!-- title -->
<section id="title">
    <div class="row pad-form">
        <div class="col-lg-8 mobile-center">
            <p class="text-small pb-4 text-md-center text-lg-start text-sm-center">SPOTIFY PREMIUM</p>
            <p class="text-big pb-4 text-lg-start text-sm-center">Get 3 months of Premium for free</p>
            <p class="text-regular pb-3 text-lg-start text-sm-center">Enjoy ad-free music, offline listening, and more. Cancel anytime.</p>
            <div class="btn btn-large btn-months-free ps-5 pe-5 btn-mobile-center mb-md-1"> GET 3 MONTHS FREE </div>
        </div>
        <div class="col-lg-4 text-md-center mt-md-5">
            <img class="img-home" src="public/images/Index/home.png" alt="hand and microphone">
        </div>
    </div>
</section>


<!--  FEATURES-->
<section id="features">
    <div class="pad-form mobile-center">
        <p class="text-small mt-2 pb-4 text-lg-start text-md-center pb-lg-2 mb-lg-0 pb-md-5 mb-md-5">SPOTIFY FREE</p>
        <p class="text-big pb-lg-4 text-lg-start text-md-center pt-md-3 pb-md-3">Listening is everything</p>
        <p class="text-regular pb-lg-3 text-features text-lg-start text-md-center">Millions of songs and podcasts. No credit card needed.</p>
        <div class="btn btn-large btn-spty-free ps-5 pe-5 btn-mobile-center"> GET SPOTIFY FREE </div>
    </div>
</section>

<%- include("common/footer") -%>