<%- include("common/header") -%>

<!-- title -->
<section id="title">
    <div class="row pad-form-premium">
        <div class="col-lg-8">
            <p class="text-big-premium pb-4 text-lg-start text-md-start">Start Premium today. <br>Listen free for 3 months of Premium.</p>
            <p class="text-regular pb-3 text-lg-start text-md-start">Enjoy ad-free music, offline listening, and more. Cancel anytime. <br> Offer ends in 9 days.</p>
            <div class="btn btn-large btn-months-free mt-lg-2 ps-5 pe-5 mb-md-1"> GET 3 MONTHS FREE </div>
            <div class="btn-plans btn btn-large mt-lg-2 ps-5 pe-5 mb-md-1 fw-bold ms-lg-2"> VIEW PLANS </div>
            <p class="text-small-premium pb-4 text-lg-start text-md-start">Individual plan only. Only $9.99/month after. Offer not available to users who have already tried Premium. <a href="legal/premium-promotional-offer-terms">Terms and conditions apply</a> . Offer ends in 9 days.</p>
        </div>
        <div class="col-lg-4 text-md-center ">
            <img class="img-home padding-mobile" src="public/images/Index/home.png" alt="hand and microphone">
        </div>
    </div>
</section>

<!--        WHY GO PREMIUM-->
<section id="why-premium">
    <div class="pad-form-premium text-center pb-lg-5">
        <h1 class="fw-bold mt-lg-2 text-size-tablet mt-md-3 mb-md-5">Why go Premium?</h1>
        <div class="row mt-lg-5 mt-lg-5 pt-lg-5 pb-lg-5">
            <div class="col-lg-3 col-md-6">
                <div class="row mt-md-5 text-lg-center text-md-start ps-md-2">
                    <div class="col-lg-12 col-md-4 col-4">
                        <img src="public/images/premium/download-music.png">
                    </div>
                    <div class="col-lg-12 col-md-8 mt-md-2 col-8">
                        <p class="title-why-premium">Download music.</p>
                        <p class="fw-normal">Listen anywhere.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="row mt-md-5 text-lg-center text-md-start ps-md-2">
                    <div class="col-lg-12 col-md-4 col-4">
                        <img src="public/images/premium/no-interruptions.png">
                    </div>
                    <div class="col-lg-12 col-md-8 col-8 mt-md-2">
                        <p class="title-why-premium">No ad interruptions.</p>
                        <p class="fw-normal">Enjoy nonstop music.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="row mt-md-5 text-lg-center text-md-start ps-md-2">
                    <div class="col-lg-12 col-md-4 col-4">
                        <img src="public/images/premium/play-song.png">
                    </div>
                    <div class="col-lg-12 col-md-8 mt-md-2 col-8">
                        <p class="title-why-premium">Play any song.</p>
                        <p class="fw-normal">Even on mobile.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="row mt-md-5 text-lg-center text-md-start ps-md-2">
                    <div class="col-lg-12 col-md-4 col-4">
                        <img src="public/images/premium/unlimited-skips.png">
                    </div>
                    <div class="col-lg-12 col-md-8 mt-md-2 col-8">
                        <p class="title-why-premium">Unlimited skips.</p>
                        <p class="fw-normal">Just hit next.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--        ACCOUNT LIST-->
<section id="pick-premium" class="pad-form-premium">
    <p class="text-big-premium text-center mt-lg-2">Pick your Premium</p>
    <p class="fw-normal text-center">Listen without limits on your phone, speaker, and other devices.</p>
    <div class="text-center">
        <img src="public/images/premium/visa.svg">
        <img src="public/images/premium/mastercard.svg">
        <img src="public/images/premium/amex.svg">
        <img src="public/images/premium/discover-network.svg">
        <img src="public/images/premium/paypall.png">
    </div>

    <div class="row row-cols-1 g-4 mt-lg-4 pad-deck">
        <div class="col-lg-3">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <p class="months">3 months free</p>
                    <h4 class="card-title">Individual</h4>
                    <p class="card-text fw-normal"> $9.99/month after offer period 1 account</p>
                    <hr>
                    <ul>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">Listen to music ad-free</p>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">Play anywhere - even offline</p>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">On-demand playback</p>
                        </li>
                    </ul>
                </div>
                <div class="text-center">
                    <div class="btn btn-lg btn-dark btn-get-started">GET STARTED</div>
                </div>
                <div class="details details-mb">3 months free not available to users who have already tried Premium. <a href=""> Terms and conditions apply</a>.</div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <p class="months">1 month free</p>
                    <h4 class="card-title">Duo</h4>
                    <p class="card-text fw-normal"> $12.99/month after offer period 2 accounts</p>
                    <hr>
                    <ul>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">2 Premium accounts for a couple under one roof</p>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">Duo Mix: a playlist for two, regularly updated with music you both enjoy</p>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">Ad-free music listening, play offline, on-demand playback</p>
                        </li>
                    </ul>
                </div>
                <div class="text-center">
                    <div class="btn btn-lg btn-dark btn-get-started">GET STARTED</div>
                </div>
                <div class="details details-mb"><a href=""> Terms and conditions apply</a>. 1 month free not available for users who have already tried Premium.</div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <p class="months">1 month free</p>
                    <h4 class="card-title">Family</h4>
                    <p class="card-text fw-normal"> $15.99/month after offer period 6 accounts</p>
                    <hr>
                    <ul>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">6 Premium accounts for family members living under one roof</p>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">Family Mix: a playlist for your family, regularly updated with music you all enjoy</p>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">Block explicit music</p>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">Ad-free music listening, play offline, on-demand playback</p>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">Spotify Kids: a separate app made just for kids</p>
                        </li>
                    </ul>
                </div>
                <div class="text-center">
                    <div class="btn btn-lg btn-dark btn-get-started">GET STARTED</div>
                </div>
                <div class="details details-mb"><a href=""> Terms and conditions apply</a>. 1 month free not available for users who have already tried Premium.</div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <p class="months">1 month free</p>
                    <h4 class="card-title">Student</h4>
                    <p class="card-text fw-normal"> $4.99/month after offer period 1 account</p>
                    <hr>
                    <ul>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">Hulu (ad-supported) plan</p>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">SHOWTIME</p>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">Listen to music ad-free</p>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">Play anywhere - even offline</p>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </div>
                            <p class="fw-normal">On-demand playback</p>
                        </li>
                    </ul>
                </div>
                <div class="text-center">
                    <div class="btn btn-lg btn-dark btn-get-started">GET STARTED</div>
                </div>
                <div class="details">Offer currently includes access to Hulu (ad-supported) plan and SHOWTIME Streaming Service, subject to eligibility. Available only to students at an accredited higher education institution. 1 month free only open to higher education students who haven't already tried Premium.<a href=""> Terms and conditions apply</a>.</div>
            </div>
        </div>
    </div>
</section>

<%- include("common/footer") -%>