<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <!-- FONT AWESOME-->
    <link href="/public/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

    <title>Listening is everything - Spotify</title>
    <link rel="shortcut icon" href="/public/images/index/spotify.ico" />
    <link rel="stylesheet" href="/public/css/style-home.css">
    <link rel="stylesheet" href="/public/css/style-premium.css">
    <link rel="stylesheet" href="/public/css/legal.css">


</head>

<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="logo-nav" src="/public/images/index/nav-logo-white.png" alt="logo spotify"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link white" aria-current="page" href="../premium">Premium</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white" href="#">Support</a>
                    </li>
                    <li class="nav-item white">
                        <a class="nav-link white" href="#">Download</a>
                    </li>
                    <div class="nav-div-mobile"></div>
                    <img class="nav-div pe-2 img-div" src="/public/images/index/nav-div.png" alt="white div">
                    <li class="nav-item">
                        <a class="nav-link nav-link-gray" href="#">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-gray" href="#">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
