
<%- include("../common/header") -%>

<!-- LEGAL SECTION -->
<section id="legal">
    <!--    NAVBAR LEGAL SECTION-->
    <ul class="nav pad-legal flex-lg-row flex-column">
        <li class="nav-item">
            <a class="nav-link disabled nav-legal ps-2" aria-current="page">Legal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-normal nav-legal" href="#">Terms andConditions of Use</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-normal nav-legal" href="#">Copyright Policy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-normal nav-legal" href="#">Privacy Policy</a>
        </li>
    </ul>
    <div class="pad-legal pb-5">
        <a href="legal.html" class="link-black"><h1 class="fw-bold">Spotify Premium Promotional Offer Terms</h1></a>
        <p class="fw-normal mt-3">Welcome to the Spotify Premium Promotional Offer Terms. On this page, you can find and read the terms and conditions that apply to the promotional offer that you've signed up for.</p>
        <p>PLEASE READ THESE TERMS CAREFULLY AND IN FULL. THEY CONTAIN CONDITIONS AND RESTRICTIONS ON THE AVAILABILITY OF SPOTIFY PREMIUM PROMOTIONAL OFFERS AND INFORMATION ON WHAT HAPPENS AFTER YOUR SPOTIFY PREMIUM PROMOTIONAL OFFER ENDS.</p>
        <ol>
            <li>Introduction.</li>
        </ol>
        <p class="fw-normal">Spotify Premium Promotional Offers (each a "<strong>Promotional Offer</strong>") are made available by Spotify subject to the <a href="" class="link-green">Spotify Terms and Conditions of Use</a>  ("<strong>Spotify Terms of Use</strong>").</p>
        <p class="fw-normal">Each Promotional Offer is made available in connection with a form of Paid Subscription (as defined in the Spotify Terms of Use), such as
            <a href="" class="link-green"> Spotify Premium Individual</a>,
            <a href="" class="link-green"> Spotify Premium Student</a>,
            <a href="" class="link-green"> Spotify Premium Family</a> or
            <a href="" class="link-green"> Spotify Premium Duo</a>
            as the case may be and subject to the offer as advertised (each a "<strong>Spotify Premium Service</strong>").
        </p>
        <p class="fw-normal">Subject to the Spotify Premium Service advertised in a Promotional Offer, these terms and conditions (the "<strong>Promotional Offer Terms</strong>") supplement and incorporate by reference the additional terms and conditions corresponding to that particular Spotify Premium Service, as shown below:</p>
        <table>
            <thead>
            <tr>
                <td class="fw-normal p-2">Terms and conditions for the Spotify Premium Service referenced in a Promotional Offer</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p class="mt-2 p-2"><a href="" class="link-green fw-normal">Spotify Premium Individual</a> </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="mt-2 p-2"><a href="" class="link-green fw-normal">Spotify Premium Student</a> </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="mt-2 p-2"><a href="" class="link-green fw-normal">Spotify Premium Family</a> </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="mt-2 p-2"><a href="" class="link-green fw-normal">Spotify Premium Duo</a> </p>
                </td>
            </tr>
            </tbody>
        </table>
        <p class="fw-normal mt-4">For any Promotional Offer, in the event of any inconsistency between these Promotional Offer Terms and the relevant corresponding terms and conditions referenced in the above table, these Promotional Offer Terms will prevail.</p>
        <ol start="2">
            <li>The Promotional Offer.</li>
        </ol>
        <p class="fw-normal">Each Promotional Offer provides access to the Spotify Premium Service advertised:</p>
        <p class="fw-normal">A. at the price advertised (if any); and</p>
        <p class="fw-normal">B. for an initial introductory period as further described in section 5 of these terms, beginning the moment that you confirm your acceptance of the Promotional Offer advertised by submitting valid payment details that are accepted by Spotify (the "<strong>Promotional Period</strong>").</p>
        <p class="fw-normal">By submitting your payment details, you (i) confirm your acceptance of the Promotional Offer advertised; (ii) accept and agree to
            these Promotional Offer Terms, including the relevant terms and conditions corresponding to the Spotify Premium Service
            advertised (as described above); and (iii) acknowledge and agree to the
            <a href="" class="link-green"> Spotify Terms of Use</a>. All information collected by Spotify under any Promotional Offer will be processed and used in accordance with our
            <a href="" class="link-green"> Privacy Policy</a>. Unless otherwise advertised, Promotional Offers do not permit or provide access to any third party goods or services.
        </p>
        <ol start="3">
            <li>Eligibility.</li>
        </ol>
        <p class="fw-normal">In order to be eligible for a Promotional Offer, users must satisfy all of the following conditions (each an "<strong>Eligible User</strong>"):</p>
        <p class="fw-normal">A. Unless you are subscribing to a Promotional Offer that is advertised as available to past subscribers to a Spotify Premium Service, you must be a new subscriber to any and all forms of Spotify Premium Service or the Unlimited service (as defined in the Spotify Terms of Use) and not have subscribed to, or accepted a trial of, either the Spotify Premium or Unlimited Service at any time in the past.</p>
        <p class="fw-normal">B. If you are subscribing to a Promotional Offer that is advertised as available only to past subscribers to a Spotify Premium Service, you must have been a subscriber to the relevant Spotify Premium Service (as advertised) whose subscription expired before the date advertised.</p>
        <p class="fw-normal">C. In respect of Promotional Offers for
            <a href="" class="link-green"> Spotify Premium Student</a>,
            <a href="" class="link-green"> Spotify Premium Family</a> and
            <a href="" class="link-green"> Spotify Premium Duo</a>: the additional eligibility requirements set out in the corresponding terms and conditions for those respective subscription plans.
        </p>
        <p class="fw-normal">D. Unless otherwise advertised, provide Spotify with a valid and current payment method that is approved by Spotify (prepaid cards and Spotify gift cards are not valid forms of payment).</p>
        <p class="fw-normal">E. Unless otherwise advertised, provide the payment method above directly to Spotify and not through a third party (e.g., not through a cable or telecommunications provider or other distributor).</p>
        <p class="fw-normal">F. Additional eligibility requirements (if any) as advertised from time-to-time in connection with a Promotional Offer.</p>
        <p class="fw-normal">Eligible Users may accept a Promotional Offer once - previous users may not redeem the offer again.</p>
        <ol start="4">
            <li>Availability.</li>
        </ol>
        <p class="fw-normal">A Promotional Offer must be accepted before the applicable expiration date advertised, if any. Except where prohibited by law, Spotify reserves the right to modify, suspend or terminate a Promotional Offer at any time and for any reason, in which case we will not honour subsequent Promotional Offer enrollments.</p>
        <ol start="5">
            <li>Duration and cancellation.</li>
        </ol>
        <p class="fw-normal">In the case of any Promotional Offer, the corresponding Promotional Period shall continue for the period as advertised, subject to section 4, above.</p>
        <p>Unless you cancel a Promotional Offer before the end of the Promotional Period, you will automatically become a recurring subscriber to the type of Spotify Premium Service that you chose to sign up to under the Promotional Offer and the payment method you provided will automatically be charged the then-current monthly price. Any time-capped features of that Spotify Premium Service will be reduced by the length of the Promotional Period.</p>
        <p>If you cancel a Promotional Offer during the Promotional Period, you will lose access to the Spotify Premium Service and your Spotify account will switch to a Spotify Free account at the end of the Promotional Period. To cancel, you must log into your Spotify account and follow the prompts on the Account page or click
            <a href="" class="link-green"> here</a> and follow the instructions.
        </p>
    </div>
</section>

<%- include("../common/footer") -%>